#loginCard{
    background-color: rgba(255,255,255, 0.9);
    margin: auto;
    position: absolute;
    left:25%;
    right: 25%;
}

.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15%;
    padding-left: 15%;
}

.form-group :focus {
    border-bottom: 1px solid red !important;
}

#loginSubmit{
    margin-bottom:10px;
}